<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Account Setting </div>
        <div class="list-group list-group-flush">
        <a routerLink="seller-dashboard" class="list-group-item list-group-item-action bg-light">Home</a>
        <a routerLink="seller-dashboard" class="list-group-item list-group-item-action bg-light">Catalogue</a>
        <a (click)="goToInventory()" class="list-group-item list-group-item-action bg-light">Inventory</a>
        <a routerLink="seller-dashboard" class="list-group-item list-group-item-action bg-light">Pricing</a>
        <a routerLink="seller-dashboard" class="list-group-item list-group-item-action bg-light">Orders</a>
        <a routerLink="seller-dashboard" class="list-group-item list-group-item-action bg-light">Performance</a>
        <a routerLink="seller-dashboard" class="list-group-item list-group-item-action bg-light">Help</a>
        <a routerLink="login-page" class="list-group-item list-group-item-action bg-light">Logout</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="seller-dashboard" data-toggle="collapse" data-target=".navbar-collapse.show">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="seller-dashboard" data-toggle="collapse" data-target=".navbar-collapse.show">Catalogue</a>
                    </li>
                    <li>
                        <a class="nav-link" (click)="goToInventory()" data-toggle="collapse" data-target=".navbar-collapse.show">Inventory</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="seller-dashboard" data-toggle="collapse" data-target=".navbar-collapse.show">Pricing</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="seller-dashboard" data-toggle="collapse" data-target=".navbar-collapse.show">Orders</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="seller-dashboard" data-toggle="collapse" data-target=".navbar-collapse.show">Performance</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="seller-dashboard" data-toggle="collapse" data-target=".navbar-collapse.show">Help</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="login-page" data-toggle="collapse" data-target=".navbar-collapse.show">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div class="container-fluid">
            <div class="row">            
                <div class="col-lg-12 profile-work buyer pull-right">
                    <p>Welcome {{seller.sellerName}} !<br>Your registered E-Mail Id is: {{seller.sellerEmail}}<br><span *ngIf="init">Your
                    registered GSTIN is: {{seller.sellerGstIn}}<br>Your registered contact is: {{seller.sellerPhone}}<br>Your
                    registered address is: {{seller.sellerAddress}}</span></p><br>
                </div>
            </div>

            <section class="row mb-4">
                <section class="col-lg-8">
                    <h4>Update Bussiness Details</h4>
                    <!--The Bussiness Details form-->
                    <form #bussinessDetailsForm (ngSubmit)="updateData()" [formGroup]="businessForm">
                        <!-- <section class="form-row align-items-center">
                            <section class="col-auto">
                                <input type="text" class="form-control mb-2" #sellerName [formControlName]="'sellerName'" placeholder="Seller Name" [attr.disabled]="submitted?'':null">
                            </section>
                        </section> -->

                        <section class="form-row align-items-center">
                            <section class="col-auto">
                                <!-- <input type="text" class="form-control mb-2" #GSTIN [formControlName]="'GSTIN'" placeholder="GSTIN" [attr.disabled]="submitted?'':null"> -->
                                <input type="text" class="form-control mb-2" #GSTIN [formControlName]="'GSTIN'" placeholder="GSTIN">
                            </section>
                        </section>

                        <!-- <section class="form-row align-items-center">
                            <section class="col-auto">
                                <input type="text" class="form-control mb-2" #bussinessType [formControlName]="'bussinessType'" placeholder="Bussiness Type" [attr.disabled]="!editable?'':null">
                            </section>
                        </section> -->

                        <section class="form-row align-items-center">
                            <section class="col-auto">
                                <input type="number" class="form-control mb-2" #contact [formControlName]="'contact'" placeholder="Contact">
                                <!-- <input type="number" class="form-control mb-2" #contact [formControlName]="'contact'" [ngClass]="{'is-invalid':businessForm.get('contact').touched && businessForm.get('contact').invalid}" placeholder="Contact"> -->
                            </section>
                        </section>
                        <!-- <section class="form-row align-items-center">
                            <section class="col-auto">
                                <div *ngIf="businessForm.get('contact').touched && businessForm.get('contact').invalid" class="invalid-feedback">
                                    <div *ngIf="businessForm.get('contact').errors.min">The contact should be at least 10 digits long...</div>
                                    <div *ngIf="businessForm.get('contact').errors.max">The contact should be at most 10 digits long...</div>
                                </div>
                            </section>
                        </section> -->

                        <section class="form-row align-items-center">
                            <section class="col-auto">
                                <input type="text" class="form-control mb-2" #sellerAddress [formControlName]="'sellerAddress'" placeholder="Seller Address">
                            </section>
                        </section>

                        <!-- <section class="form-row align-items-center">
                            <section class="col-auto">
                                <input type="text" class="form-control mb-2" #eMail [formControlName]="'eMail'" placeholder="E-Mail" [attr.disabled]="!editable?'':null">
                            </section>
                        </section>     -->

                        <section class="form-row align-items-center">
                            <!-- <section class="col-auto" *ngIf="!editable">
                                <button type="button" name="editBtn" #editBtn class="btn btn-primary mb-2" (click)="toggleEditable()">Edit</button>
                            </section> -->

                            <!-- <section class="col-auto" *ngIf="editable">
                                <button type="submit" name="saveBtn" #saveBtn class="btn btn-primary mb-2">Save</button>
                            </section> -->
                            <section class="col-auto">
                                <button type="submit" name="saveBtn" #saveBtn class="btn btn-primary mb-2">Save</button>
                            </section>
                        </section>
                        <p>{{greeting}}</p>
                    </form>
                    <!--The Bussiness Details form -- End-->

                    <!--Orders and Returns section-->
                    <section class="row mt-3">
                        <section class="col-lg-3">
                            <h4>Orders</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet posuere ligula. Ut rutrum et eros et rhoncus.</p>
                        </section>

                        <section class="col-lg-3">
                            <h4>Returns</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet posuere ligula. Ut rutrum et eros et rhoncus.</p>
                        </section>
                    </section>
                    <!--Orders and Returns section -- End-->
                </section>
                <!--Col-lg-6 -- End-->

                <section class="col-lg-4">
                    <h4>Payment Status</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet posuere ligula. Ut rutrum et eros et rhoncus. Suspendisse faucibus ipsum sed lectus suscipit condimentum. Quisque at dignissim lacus, vitae pharetra magna. Vestibulum
                    quis euismod justo, eget iaculis est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce id convallis tortor. Morbi mollis ipsum pharetra mauris lobortis volutpat. Ut in consectetur sem.</p>
                </section>
            </section>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
 <!-- /#wrapper -->

