.container{
    background-color: white;
    /* padding-bottom: 15px;
    padding-top: 15px; */
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.outer-container{
    margin-top: 150px;
    background-image: url("src/assets/home/footer.jpg");
}

input{
    width: 100%;
}

#form{
    width: 50%;
}
/* .wrapper{
    margin-bottom: 5px;
} */

.add{
    margin-top: 5px;
    margin-bottom: 5px;
}